header {
  width: 90%;
  margin: 20px auto 80px auto;
  img {
    height: 50px;
    width: auto;
  }
  .header-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    .header-right {
      color: white;
      display: flex;
      align-items: center;
      .header-division {
        margin-right: 20px;
      }
      .header-link {
        margin-right: 20px;
        font-weight: bold;
        font-size: 15px;
        color: white;
        a {
          text-decoration: none;
          color: white;
          &.active {
            color: skyblue;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  header {
    width: 90%;
    margin: 20px auto 80px auto;
  }
}
