@use "sass:math";

.detail-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  .detail-content-left {
    margin-right: 8vh;
    img {
      width: 30vw;
      height: auto;
      border-radius: 8px;
    }
  }
  .detail-content-right {
    h1 {
      margin: 0 0 4vh 0;
    }
    .amount-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .amount-each {
        margin-right: 10vw;
        h5 {
          margin: 0;
        }
        h3 {
          margin: 4px 0 0 0;
        }
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    }
    .overview-wrapper {
      margin-top: 4vh;
      h4 {
        margin: 0;
      }
      .overview {
        margin-top: 8px;
        width: 100%;
        overflow: auto;
      }
    }
    .rate-wrapper {
      margin-top: 4vh;
      display: flex;
      align-items: center;

      .public-rate {
        margin-right: 5vw;
      }
      h5 {
        margin: 0 0 4px 0;
      }
      span {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 30px;
        font-size: 30px;
        &::before,
        &::after {
          position: absolute;
          display: inline-block;
          height: 30px;
          content: "★★★★★";
          line-height: 30px;
        }
        &::before {
          color: #c4c4c4;
        }
        &::after {
          overflow: hidden;
        }
        @for $i from 1 through 10 {
          &.rate-#{$i} {
            &::after {
              color: #ffb906;
              width: $i * 15px;
            }
          }
        }
        // .test {
        //   &::after {
        //     width: 0%;
        //   }
        // }
      }
      // }
    }
  }
}

@media (max-width: 1100px) {
  .detail-content {
    width: 90%;
    margin: 0 auto;
  }
}
