.home-content {
  .film-ranking-title {
    text-align: center;
  }
  .film-ranking-content {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .film-ranking-link {
    text-align: center;
  }
}
