.home-content {
  width: 90%;
  margin: 0 auto;
  .film-ranking-title {
    text-align: center;
  }
  .film-ranking-content {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
      &.unvisible {
        visibility: hidden !important;
      }
    }
    .film-ranking-details {
      display: flex;
    }
  }
  .film-ranking-link {
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 1100px) {
  .home-content {
    width: 90%;
    margin: 0 auto;
  }
}
